%section
  %h2 Out on loan
  - if classroom.loaned_assignments.blank?
    There are no book bags out on loan for this class.
  - else
    %ul
      - classroom.loaned_assignments.each do |la|
        %li
          = la.display_info
          - num_periods = classroom.current_period.periods_from(la.loaned_period)
          %span.num-periods= "(#{num_periods} periods)"
  
