%section
  %h2= "Students (#{students.count})"
  = link_to "Add a student", new_classroom_student_path(classroom), class: "btn btn-success btn-xs"
  %table.table.table-responsive
    - students.each do |student|
      %tr
        %th= link_to student.full_name, student_path(student)

