%section.students-management
  %h2= "Students (#{students.count})"
  = link_to "Add a student", new_classroom_student_path(classroom), class: "btn btn-success btn-xs"
  %table.table.table-responsive
    %thead
      %tr
        %th Name
    %tbody
      - students.each do |student|
        %tr
          %td= link_to student.full_name, student_path(student)

