.jumbotron
  Do you want to look at 
  = link_to "schools", schools_path, class: "btn btn-primary btn-xs"
  or perhaps begin with a
  = link_to "classroom", classrooms_path, class: "btn btn-success btn-xs"
  ?

